.custom-table thead tr th {
  font-size: 20px;
}

.custom-table tbody tr td {
  font-size: 18px;
}

.text-primary {
  color: #28a745;
}

.background-primary {
  background-color: #28a745 !important;
}

.hover-background-primary:hover {
  background-color: #218838 !important;
}